#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem autom;
}

table th, table td{
  border: 1px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
}