#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem autom;
}

table th, table td{
  border: 1px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
}
input {
  padding: 10px;
  margin-bottom: 40px;
  margin-right: 10px;
}
button{
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(62, 59, 255);
  border-radius: 10px;
  
}